:root { 
    --bg-color: #CCCCCC;
    --text-color: #cccccc;
    --font-family: 'Roboto', sans-serif;
    --bg-footer-color: #696a75;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-height: 100vh;
}

header {
    background-color: #696a75;
    padding: 1px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.fornos-container {
    background-color: #cccccc;
    padding: 20px;
    padding-bottom: 70px; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    gap: 25px;
}

.forno {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;      
    gap: 30px;  
    color: #333;               
}

.forno-esquerda {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.forno-esquerda h2 {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}

/* garante que cada imagem mantenha mesmo espaço */
.img-forno {
    margin-right: 6px;
}

.painel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    color: #000;
    justify-content: flex-start;
    gap: 4px;
    overflow: hidden; 
}

/* Inputs e labels */
.painel-info label {
    font-weight: normal;
    margin-top: 4px;     
    font-size: 14px;
}

.painel-info p {
    align-items: flex-start;
    font-weight: normal;
    margin-top: 2px;     
    font-size: 14px;
}

.img-combustivel {
    align-items: flex-end;
}

.graficos-container {
    width: 850px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 16px;
    margin-left: 20px;
    gap: 0 53px;
}

.titulo {
    display: flex;
    align-items: center;
    color: #333;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.graficos-historico {
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0 50px;
}

.grafico-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-legenda {
    margin-top: 6px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

/* cada card do gráfico */
.graficos-container canvas {
    background: white;
    border-radius: 5px;
    width: 125% !important;
    height: 200px !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.graficos-historico canvas {
    margin-top: 0px;
    background: white;
    border-radius: 5px;
    width: 110% !important;
    height: 190px !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

#popup-alarm-container {
    position: relative;
    z-index: 999999999999999; /* acima de tudo */
    display: flex;
    flex-direction: column;
    gap: 12px;
    pointer-events: none; /* não atrapalha cliques nos elementos atrás */
}

.popup-alarm {
    z-index: 999999999999999;
    background: #ffdddd;
    color: black;
    border-left: 6px solid #ff3b3b;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    min-width: 260px;
    max-width: 350px;
    animation: slideIn 0.35s ease-out;
    pointer-events: auto; /* usuário ainda pode clicar no X */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-alarm button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #aa0000;
    margin-left: 10px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


footer {
    background-color: var(--bg-footer-color);
    padding: 1px;
    text-align: center;
    color: #cccccc;
    font-size: 10px;
    width: 100%;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
}