:root { 
    --bg-color: #CCCCCC;
    --text-color: #cccccc;
    --font-family: 'Roboto', sans-serif;
    --bg-footer-color: #696a75;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-height: 100vh;
}

header {
    background-color: #696a75;
    padding: 1px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.fornos-container {
    background-color: #cccccc;
    padding: 20px;
    padding-bottom: 100px; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    justify-content: flex-start;
    gap: 45px;
}

.forno {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;      
    gap: 30px;  
    color: #333;               
}

.forno-esquerda {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.forno-esquerda h2 {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}

/* garante que cada imagem mantenha mesmo espaço */
.img-forno {
    margin-right: 6px;
}

.painel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    color: #000;
    justify-content: flex-start;
    gap: 4px;
    overflow: hidden; 
}

/* Inputs e labels */
.painel-info label {
    font-weight: normal;
    margin-top: 4px;     
    font-size: 14px;
}

.painel-info p {
    font-weight: normal;
    margin-top: 2px;     
    font-size: 14px;
}

/* inputs e selects corrigidos */
.painel-info input {
    height: 14px;
    padding: 3px 0px;
    margin: 0;
}

.painel-info select {
    height: 26px;
    padding: 3px 0;
    margin: 0;
}

.linha-ajuste {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;       
}

.linha-ajuste label {
    white-space: nowrap;
}

/* Botões */
.btn-inline {
    height: 23px;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 4px;
    background: white;
    border: none;
    color: black;
    cursor: pointer;
}

.img-combustivel {
    align-items: flex-end;
}


.alarme { 
    background-color: #ff4c4c;
    color: white;
    padding: 8px;
    border-radius: 5px;
    display: none;
    animation: blink 1s infinite;
}

@keyframes blink { 
    0%, 100% {opacity: 1;}
    50% {opacity: 0.5;}
}

.graficos-container {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 16px;
    margin-left: 12px;
    gap: 0 53px;
}

.grafico-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-legenda {
    margin-top: 6px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

/* cada card do gráfico */
.graficos-container canvas {
    background: white;
    border-radius: 5px;
    width: 125% !important;
    height: 160px !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

footer {
    background-color: var(--bg-footer-color);
    padding: 1px;
    text-align: center;
    color: #cccccc;
    font-size: 10px;
    width: 100%;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
}