:root { 
    --bg-color: #CCCCCC;
    --text-color: #cccccc;
    --font-family: 'Roboto', sans-serif;
    --bg-footer-color: #878790;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

header {
    background-color: #878790;
    padding: 1px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.fornos-container {
    background-color: #cccccc;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    padding-top: 45px;
    gap: 25px;
}

.forno {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;      
    gap: 30px;  
    color: #333;               
}

.forno-esquerda {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.forno-esquerda h2 {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}


.painel-info {
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 18px;
    color: #000;
    justify-content: flex-start;
    gap: 4px;
    
}

/* Inputs e labels */
.painel-info label {
    font-weight: normal;
    margin-top: 4px;     
    font-size: 14px;
}

.painel-info p {
    align-items: flex-start;
    font-weight: normal;
    margin-top: 2px;     
    font-size: 14px;
}

.img-combustivel {
    align-items: flex-end;
}

.graficos-container {
    width: 850px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 16px;
    margin-left: 20px;
    gap: 0 53px;
}

.titulo {
    display: flex;
    align-items: center;
    color: #333;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.graficos-historico {
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0 50px;
}

.grafico-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafico-legenda {
    margin-top: 6px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

/* cada card do gráfico */
.graficos-container canvas {
    background: #EaEaEa;
    border-radius: 10px;
    width: 125% !important;
    height: 200px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.graficos-historico canvas {
    margin-top: 0px;
    background: #EaEaEa;
    border-radius: 10px;
    width: 110% !important;
    height: 190px !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

footer {
    background-color: var(--bg-footer-color);
    align-items: center;
    color: #cccccc;
    font-size: 10px;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#popup-alarm-container {
    position: fixed;
    z-index: 999999999999999; 
}

.popup-alarm {
    background: #ffebee;
    color: #232323;
    border: 1px solid #ffcdd2;
    padding: 12px 16px;
    margin: 8px 0;
    margin-left: 10px;
    border-left: 8px solid #d32f2f;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

/* Botão X sem caixa */
.popup-alarm button {
    background: transparent;   /* tira a caixa */
    border: none;              /* sem borda */
    color: #b71c1c;            /* mesma cor do texto */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin-left: 12px;         /* AFSTA do texto */
}

.popup-alarm button:hover {
    color: #7f0000;            /* escurece ao hover */
    transform: scale(1.1);
    transition: 0.15s;
}

/* * Animação de pulso/salto
 */
@keyframes pulse {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}